<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Vue.js Framework</h1>
            <h2>Vue Demo Application</h2>
        </header>
        <nav class="main-nav">
            <ul>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </nav>

        <main id="app" class="main-content">
            <!-- Writing JS expression with {{ }} -->
            <h1>{{ product }}</h1>
            <section class="card">
                <div>
                    <img :src="image" alt="Casio Piano" class="img-centre">
                </div>
                <p>{{ product }} {{ description }}. To learn more visit <a :href="url" target="_blank">"Casio Privia
                        PX-S7000"</a> Official page!</p>

                <div class="product-status">
                    <!-- 
                        Using if-condition with the boolean data property "inStock"

                        Using "v-if" directive:
                        - v-if => if the variable has the value of True => show the "v-if" element
                        - v-if => if the variable has the value of True => show the "v-if" element
                        - v-else (optional) for displaying alternative => which means False => show the "v-else" element

                        only one value must be visible depending on the product if it's in stock our out of stock
                     -->
                    <p>
                        Item Status:
                        <span v-if="inStock">In Stock</span>
                        <span v-else>Out of Stock</span>
                    </p>

                    <!-- 
                        Notice that v-if directive will add/remove item/element from the DOM.
                        We can use v-show just to toggle the visibility of the element
                        by adding an inline style => display: none;
                        it can be used for better performance also
                    -->
                    <p v-show="inStock">
                        The item is available for pickup from our main store or shipped for free to any
                        address!
                    </p>

                    <!-- 
                        Adding additional layers of conditions:
                        change the values of "inventory" in the main script for testing
                     -->
                    <p v-if="inventory > 10">We have the three colors in our stock!</p>
                    <p v-else-if="inventory <=10 && inventory > 0">Hurry up, this item is almost sold out!</p>
                    <p v-else>Out of Stock</p>

                    <!-- combine two boolean properties -->
                    <p v-if="inventory>0 && onSale">This item is currently on sale! Don't miss your chance</p>
                </div>
            </section>
        </main>

        <!-- aside on the right side of main content -->
        <aside class="main-sidebar">
            <dl>
                <dt>
                    Approachable:
                </dt>
                <dd>Builds on top of standard HTML, CSS and JavaScript with intuitive API and world-class documentation.
                </dd>

                <dt>
                    Performant:
                </dt>
                <dd>Truly reactive, compiler-optimized rendering system that rarely requires manual optimization.
                </dd>

                <dt>
                    Versatile:
                </dt>
                <dd>A rich, incrementally adoptable ecosystem that scales between a library and a full-featured
                    framework.
                </dd>
            </dl>
        </aside>

        <footer>&copy; <span id="year"></span> - Vue.js Introduction Demo</footer>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="js/main3.js">
    </script>

    <!-- Another script for mounting the app to our HTML DOM -->
    <script>
        const mountedApp = app.mount('#app');
    </script>

    <body>

</html>